/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

.command {
    background-color: #333;
    overflow: hidden;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 1px;
    margin-right: 160px;
}

.command .text {
    background-color: #ffffff;
    font-weight: 200;
    font-size: 15px;
    float: right;
    width: calc(100% - 180px);
    padding: 15px 25px;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 100%;
    font-weight: 700;
    line-height: 3;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.imageAlignSide .blockImage {
    flex: 0 1 500px;
    max-width: 200px;
}

.fixedHeaderContainer {
    background: #51247A;
    color: #fff;
    min-height: 60px;
    padding: 8px 0;
    position: fixed;
    width: 100%;
    z-index: 9999;
    transform: translate3d(0, 0, 0);
}

.fixedHeaderContainer header img {
    height: 185%;
    margin-right: 10px;
    padding-top: 11px;
}

.navigationSlider {
    height: 34px;
    position: relative;
    padding-left: 100px;
    padding-top: 5px;
}

.navigationSlider .slidingNav ul li a {
    border: 0;
    color: rgba(255, 255, 255, 0.8);
    display: flex;
    font-size: 16px;
    font-size: 1.2em;
    font-weight: 500;
    height: 32px;
    line-height: 1.2em;
    margin: 0;
    padding: 0;
    padding: 6px 10px;
}

.wrapper {
    max-width: 1250px;
}